@media (max-width: 1000px) {
  .cardContanier {
    display        : flex;
    flex-direction : column;
    justify-content: space-evenly;
    margin-top     : 1%;
    border         : 2px solid #96c666;
    border-radius  : 20px;
    margin-top     : 5%;
  }

  .link {
    inline-size  : 237px;
    overflow-wrap: break-word;

  }

  .card {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }

  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

@media (min-width: 1000px) {
  .cardContanier {
    display        : flex;
    flex-direction : column;
    justify-content: space-evenly;
    margin-top     : 1%;
    border         : 2px solid #96c666;
    border-radius  : 20px;
    margin-top     : 1%;
  }

  .link {

    overflow-wrap: break-word;

  }

  .card {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }

  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

}